
<div class="links">

    <h2 class="links-title"><u>Elsewhere on the Web</u></h2>

    <ul class="links">
        <li><a href="https://github.com/d-bits" target="_blank"><img src="https://img.icons8.com/fluent-systems-regular/96/000000/github.png"/></a></li>
        <li><a href="https://linkedin.com/in/danabases" target="_blank"><img src="https://img.icons8.com/fluent/90/000000/linkedin.png"/></a></li>
        <li><a href="/assets/dlockwood-resume.pdf"><img src="https://img.icons8.com/office/80/000000/open-resume.png"/></a></li>
    </ul>

</div>

<style>
    .links {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

    .links-title {
        text-align: center;
    }

    ul {
        text-align: center;
    }

    li {
        list-style-type: none;
        display: inline-block;
        padding-right: .5%;
    }
</style>